In [6]:
import pandas as pd
from pathlib import Path
import csv
import operator
import json
from os import listdir
from pprint import pprint

In [7]:
queries = {
    'bostonglobe': ['science', 'science_extended'],
    'chicago': ['science'],
    'foxnews': ['science'],
    'theguardian': ['science'],
    'iflscience': [],
    'latimes': ['science'],
    'nytimes': ['science'],
    'sfchronicle': ['science'],
    'slate': ['bad_astronomy', 'climate_desk', 'future_tense', 'health_and_science'],
    'theglobeandmail': ['science'],
    'washingtonpost': ['animalia', 'energy-environment', 'speaking-of-science', 'to-your-health'],
    'wired': ['science']
}

news_short_altmetric = {
    'bostonglobe': ['The Boston Globe'],
    'chicago': ['Chicago Sun-Times'],
    'foxnews': ['FOX News'],
    'theguardian': ['The Guardian'],
    'iflscience': [],
    'latimes': ['LA Times'],
    'nytimes': ['New York Times'],
    'sfchronicle': ['San Francisco Chronicle'],
    'slate': ['Slate Magazine', 'Slate France'],
    'theglobeandmail': ['The Globe and Mail'],
    'washingtonpost': ['Washington Post'],
    'wired': ['Wired.it', 'Wired.com', 'Wired.co.uk']
}

news_altmetric_short = {}
for a, ss in news_short_altmetric.items():
    for s in ss:
        news_altmetric_short[s] = a

In [8]:
news_altmetric_short

{'Chicago Sun-Times': 'chicago',
 'FOX News': 'foxnews',
 'LA Times': 'latimes',
 'New York Times': 'nytimes',
 'San Francisco Chronicle': 'sfchronicle',
 'Slate France': 'slate',
 'Slate Magazine': 'slate',
 'The Boston Globe': 'bostonglobe',
 'The Globe and Mail': 'theglobeandmail',
 'The Guardian': 'theguardian',
 'Washington Post': 'washingtonpost',
 'Wired.co.uk': 'wired',
 'Wired.com': 'wired',
 'Wired.it': 'wired'}

In [10]:
queries = pd.read_csv("../../data/queries.csv", index_col="id")
queries.head()

,query,venue_name,venue_short,relevant_terms,found_tweets
id,,,,,
1,bostonglobe AND science_extended,The Boston Globe,bostonglobe,science_extended,2287
2,bostonglobe AND science,The Boston Globe,bostonglobe,science,29963
3,chicago AND suntimes AND science,The Chicago Suntimes,chicago,science,2003
4,foxnews AND science,FOX News,foxnews,science,431310
5,guardian AND science,The Guardian,theguardian,science,130078

In [11]:
queries.groupby("venue_short")['relevant_terms'].apply(list)

venue_short
bostonglobe                              [science_extended, science]
chicago                                                    [science]
foxnews                                                    [science]
iflscience                                                     [nan]
latimes                                                    [science]
nytimes                                                    [science]
sfchronicle                                                [science]
slate              [bad_astronomy, climate_desk, future_tense, he...
theglobeandmail                                            [science]
theguardian                                                [science]
washingtonpost     [animalia, energy-environment, speaking-of-sci...
wired                                                      [science]
Name: relevant_terms, dtype: object

In [12]:
queries.groupby("venue_name")['venue_short'].unique()

venue_name
FOX News                        [foxnews]
IFLScience                   [iflscience]
SF Chronicle                [sfchronicle]
Slate                             [slate]
The Boston Globe            [bostonglobe]
The Chicago Suntimes            [chicago]
The Globe and Mail      [theglobeandmail]
The Guardian                [theguardian]
The LA Times                    [latimes]
The NY Times                    [nytimes]
The Washington Post      [washingtonpost]
Wired                             [wired]
Name: venue_short, dtype: object

In [33]:
data_dir = Path("../../data/")

all_tweets_dir = data_dir / "all_tweets"
selected_tweets_dir = data_dir / "refetched_tweets"
urls_dir = data_dir / "twitter_urls"
urls_cleaned_dir = data_dir / "twitter_urls_cleaned"

In [129]:
f = "chicago AND suntimes AND science.csv"
df = pd.read_csv(all_tweets_dir / f, index_col="tweet_id")
df2 = pd.read_csv(selected_tweets_dir / f, index_col="tweet_id")

In [109]:
cols = ['entities', 'quoted_status_id', 'retweeted_status_id']
for col in cols:
    df2[col] = None

In [125]:
df2.drop(["retweet_id", "retweet_truncated"], axis=1, inplace=True)
for ix, row in df2.iterrows():
    tweet = json.loads(row['tweet'])
    df2.loc[ix, 'entities'] = str(tweet['entities'])
    df2.loc[ix, 'truncated'] = str(tweet['truncated'])
    if 'quoted_status_id_str' in tweet:
        df2.loc[ix, 'quoted_status_id'] = tweet['quoted_status_id_str']
    if 'retweeted_status' in tweet:
        df2.loc[ix, 'retweeted_status_id'] = tweet['retweeted_status']['id_str']
df2.drop("tweet", axis=1)

,posted_on,truncated,refetched,error,entities,retweeted_status_id,quoted_status_id
tweet_id,,,,,,,
794830803037519876,2016-11-05 09:16:45,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
794830803037519876,2016-11-05 09:16:45,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
794830803037519876,2016-11-05 09:16:45,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
794846955365105664,2016-11-05 10:20:56,False,False,NaN,"{'user_mentions': [{'name': 'Pat Kiernan', 'in...",794830803037519876,NaN
795006492189528064,2016-11-05 20:54:52,False,False,NaN,"{'user_mentions': [{'name': 'Pat Kiernan', 'in...",794830803037519876,NaN
797141624199315456,2016-11-11 18:19:08,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
797142522174717953,2016-11-11 18:22:42,False,True,NaN,"{'user_mentions': [], 'media': [{'media_url_ht...",NaN,NaN
798616236930187264,2016-11-15 19:58:43,True,False,"[{'code': 144, 'message': 'No status found wit...","{'user_mentions': [{'name': 'Jordan Owen', 'in...",NaN,NaN
800326942402580480,2016-11-20 13:16:27,False,True,NaN,{'user_mentions': [{'name': 'ACS PMSE Division...,NaN,NaN
800362813701111808,2016-11-20 15:38:59,False,False,NaN,{'user_mentions': [{'name': 'ACS PMSE Division...,800326942402580480,NaN
800375449243308032,2016-11-20 16:29:12,False,False,NaN,{'user_mentions': [{'name': 'ACS PMSE Division...,800326942402580480,NaN
800395503707910145,2016-11-20 17:48:53,False,False,NaN,{'user_mentions': [{'name': 'ACS PMSE Division...,800326942402580480,NaN
800410304664506368,2016-11-20 18:47:42,False,False,NaN,{'user_mentions': [{'name': 'ACS PMSE Division...,800326942402580480,NaN
802523356742434817,2016-11-26 14:44:13,False,False,NaN,{'user_mentions': [{'name': 'Lincoln Park Zoo'...,NaN,NaN
802528623399960576,2016-11-26 15:05:08,False,False,NaN,"{'user_mentions': [{'name': 'Patrick Muller', ...",802523356742434817,NaN
804044007500197888,2016-11-30 19:26:44,False,True,NaN,"{'user_mentions': [], 'media': [{'media_url_ht...",NaN,NaN
804046900383072256,2016-11-30 19:38:14,False,False,NaN,"{'user_mentions': [], 'media': [{'sizes': {'la...",NaN,NaN
804053777024053249,2016-11-30 20:05:33,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804061278239125504,2016-11-30 20:35:22,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804061291828641793,2016-11-30 20:35:25,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804061298191429633,2016-11-30 20:35:26,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804061516135886848,2016-11-30 20:36:18,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804061967463882753,2016-11-30 20:38:06,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804062083423883268,2016-11-30 20:38:34,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804062322507599872,2016-11-30 20:39:31,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804065005301731328,2016-11-30 20:50:10,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804065229210423296,2016-11-30 20:51:04,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804065245417250816,2016-11-30 20:51:07,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804074689035276288,2016-11-30 21:28:39,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
804091635860578304,2016-11-30 22:35:59,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
...,...,...,...,...,...,...,...
899813525131976705,2017-08-22 02:00:36,False,False,NaN,"{'user_mentions': [{'name': 'Daniel Biss', 'in...",899612049709252608,NaN
899814814566014976,2017-08-22 02:05:44,False,False,NaN,"{'user_mentions': [{'name': 'Daniel Biss', 'in...",899612049709252608,NaN
899816605470908419,2017-08-22 02:12:51,False,False,NaN,"{'user_mentions': [{'name': 'Daniel Biss', 'in...",899612049709252608,NaN
899818503087300609,2017-08-22 02:20:23,False,False,NaN,"{'user_mentions': [{'name': 'Daniel Biss', 'in...",899612049709252608,NaN
899823306961862658,2017-08-22 02:39:28,False,False,NaN,{'user_mentions': [{'name': 'Rep. Pramila Jaya...,899697619647070208,NaN
899827591019974656,2017-08-22 02:56:30,False,False,NaN,"{'user_mentions': [{'name': 'Daniel Biss', 'in...",899612049709252608,NaN
899836088021270528,2017-08-22 03:30:16,False,False,NaN,{'user_mentions': [{'name': 'Rep. Pramila Jaya...,899697619647070208,NaN
899843120535359488,2017-08-22 03:58:12,False,False,NaN,"{'user_mentions': [{'name': 'Thomas Frisbie', ...",899575430600151040,NaN
899964060351025153,2017-08-22 11:58:47,False,False,NaN,"{'user_mentions': [{'name': 'Daniel Biss', 'in...",899612049709252608,NaN
899970345947607041,2017-08-22 12:23:45,False,False,NaN,"{'user_mentions': [{'name': 'Daniel Biss', 'in...",899612049709252608,NaN
900007020358766593,2017-08-22 14:49:29,False,True,NaN,"{'user_mentions': [], 'media': [{'media_url_ht...",NaN,NaN
900007921056133120,2017-08-22 14:53:04,False,False,NaN,{'user_mentions': [{'name': 'Chicago Sun-Times...,900007020358766593,NaN
900008572276355072,2017-08-22 14:55:39,False,False,NaN,{'user_mentions': [{'name': 'Chicago Sun-Times...,900007020358766593,NaN
900012408248389634,2017-08-22 15:10:54,False,False,NaN,{'user_mentions': [{'name': 'Chicago Sun-Times...,900007020358766593,NaN
900020156935569409,2017-08-22 15:41:41,False,False,NaN,"{'user_mentions': [], 'media': [{'media_url_ht...",NaN,NaN
900026047059578880,2017-08-22 16:05:05,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
900046183275606016,2017-08-22 17:25:06,False,False,NaN,{'user_mentions': [{'name': 'Planned Parenthoo...,899665978367332352,NaN
900047639055654912,2017-08-22 17:30:53,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
900070479888879617,2017-08-22 19:01:39,False,False,NaN,{'user_mentions': [{'name': 'Chicago Sun-Times...,NaN,NaN
900082914607509504,2017-08-22 19:51:04,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
900082917094727680,2017-08-22 19:51:04,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
900089066208854017,2017-08-22 20:15:30,False,False,NaN,{'user_mentions': [{'name': 'Chicago Sun-Times...,900007020358766593,NaN
900123413565632512,2017-08-22 22:31:59,False,False,NaN,"{'user_mentions': [{'name': 'Daniel Biss', 'in...",899612049709252608,NaN
900131766710808577,2017-08-22 23:05:11,False,False,NaN,"{'user_mentions': [], 'urls': [{'expanded_url'...",NaN,NaN
900139644263837697,2017-08-22 23:36:29,False,False,NaN,"{'user_mentions': [{'name': 'Emily Atkin', 'in...",899646066080890880,NaN
900313190097051648,2017-08-23 11:06:06,False,False,NaN,{'user_mentions': [{'name': 'Chicago Sun-Times...,NaN,NaN
900389908514095109,2017-08-23 16:10:57,False,False,NaN,"{'user_mentions': [{'name': 'C. S. Prakash', '...",899007668110721024,NaN
900566942641078273,2017-08-24 03:54:25,False,False,NaN,"{'user_mentions': [{'name': 'C. S. Prakash', '...",899007668110721024,NaN
900844412573495297,2017-08-24 22:16:59,False,False,NaN,"{'user_mentions': [{'name': 'Daniel Biss', 'in...",899612049709252608,NaN
900869351183704064,2017-08-24 23:56:05,False,False,NaN,{'user_mentions': [{'name': 'Chicago Sun-Times...,NaN,NaN