In [1]:
import pandas as pd

In [2]:
file = "../data/relevant/chicago AND suntimes AND science.csv"

In [5]:
df = pd.read_csv(file)

In [10]:
df.cleaned_url.notnull().sum() / df.shape[0] * 100

90.167865707434046

In [11]:
df[df.cleaned_url.isnull()].sample(20)

               tweet_id cleaned_url
623  899623804368015360         NaN
129  855898902683197441         NaN
40   822503543969955840         NaN
96   832523282763034625         NaN
515  898696917139337216         NaN
499  898002697969729536         NaN
80   832474877458206720         NaN
217  889640337823723521         NaN
170  867080911396982785         NaN
167  867079838565359617         NaN
314  891877304938274816         NaN
216  889639933161480192         NaN
90   832494780781297664         NaN
87   832486915764948992         NaN
86   832486672663076864         NaN
192  867404072369795073         NaN
817  900012408248389634         NaN
132  855899447099666433         NaN
92   832497508626558976         NaN
816  900008572276355072         NaN